<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <!-- DAbes - ADDED <connectionStrings> - START -->
  <connectionStrings>                                 
    <!--<add name="PrimaryDatabase" connectionString="Data Source=DEV-MBRUMMETT;Initial Catalog=appsoscontacts;Persist Security Info=True;User ID=appsosuser;Password=appsosuser;"/>-->
    <!--<add name="PrimaryDatabase" connectionString="Data Source=APPS-DEV;Initial Catalog=privacytoolkit;Persist Security Info=True;User ID=ctdev;Password=(b(t@l^57N,]lFs0,a;"/>-->
    <add name="PrimaryDatabase" connectionString="Data Source=DABES1\SQLEXPRESS;Initial Catalog=TestDB1;Integrated Security=SSPI;User ID=DAbes1; password=bengals1"/>
  </connectionStrings>                                
  <!-- DAbes - ADDED <connectionStrings> - END   -->  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    
    
    <!-- DAbes - ADDED <services> - START -->
    <services>
      <service name="WCFWebServiceApplication1.Service1">
        <endpoint address="" binding="webHttpBinding" contract="WCFWebServiceApplication1.IService1" behaviorConfiguration="webBehavior"></endpoint>
      </service>
    </services>
    <!-- DAbes - ADDED <services> - END   -->
        
    
    <behaviors>
      <!-- DAbes - ADDED <endpointBehavior> - START -->
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <!-- DAbes - ADDED <endpointBehavior> - END   -->      
      
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
